.stdList {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

@media (max-width: 968px) {
  .stdList {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 500px) {
  .stdList {
    grid-template-columns: repeat(2, 1fr);
  }
}
