.main-header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  background-color: transparent;
  padding: 0rem;
  z-index: 5;
  margin-bottom: 2rem;
}

@media (min-width: 968px) {
  .main-header {
    justify-content: space-between;
  }
}
